openapi: 3.2.0
info:
  title: Quiver Tier 1 API
  version: v1
  description: Tap into the power of alternative data
  contact:
    name: 'Us: info@quiverquant.com'
    email: info@quiverquant.com
  license:
    name: Terms of Service
    url: https://www.quiverquant.com/termsofservice/
servers:
- url: https://api.quiverquant.com
tags:
- name: Tier 1
  description: tier 1 endpoint
paths:
  /beta/auth/premium:
    get:
      operationId: auth_premium_retrieve
      description: Premium Auth View
      summary: Premium Authentication
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PremiumAuthResponse'
          description: ''
      x-internal: true
  /beta/bulk/congress/politicians:
    get:
      operationId: bulk_congress_politicians_retrieve
      description: Returns a paginated list of all congress members and FEC-registered candidates with trading stats and net worth. Includes both seated members and candidates by default. Results can be sorted by name, trade count, trade volume, or net worth.
      summary: Bulk Congress Politicians
      parameters:
      - in: query
        name: chamber
        schema:
          type: string
        description: 'Filter by congressional chamber: house or senate (case-insensitive)'
      - in: query
        name: include_candidates
        schema:
          type: boolean
          default: 'True'
        description: Include FEC-registered candidates who are not current congress members. Defaults to true. Set to false to return only seated members.
      - in: query
        name: is_active
        schema:
          type: boolean
          default: 'True'
        description: Filter by active/inactive status. Defaults to true for the live endpoint (only active members). Set to false to include all members.
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: query
        name: party
        schema:
          type: string
        description: 'Filter by party affiliation: Democratic, Republican, or Independent'
      - in: query
        name: sort_by
        schema:
          type: string
          default: name
        description: 'Sort field for results. Accepted values: name (alphabetical, ascending), trade_count (descending), trade_volume (descending), net_worth (descending).'
      - in: query
        name: state
        schema:
          type: string
        description: Filter by US state (full name, e.g. California, Texas, New York)
      - in: query
        name: volume_method
        schema:
          type: string
          default: average
        description: 'Method to estimate trade volume from disclosed amount ranges (e.g. ''$1,001 - $15,000''). Accepted values: range_start (lower bound), average (midpoint, default), range_end (upper bound).'
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCongressPoliticiansResponse'
          description: ''
  /beta/bulk/congresstrading:
    get:
      operationId: bulk_congresstrading_retrieve
      description: Returns the full history of transactions by members of U.S. Congress.
      summary: Bulk Congress Trading
      parameters:
      - in: query
        name: bioguide_id
        schema:
          type: string
        description: Congressperson's BioGuide id
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: Date, formatted as YYYYMMDD
      - in: query
        name: nonstock
        schema:
          type: boolean
        description: Include non-stock transactions
      - in: query
        name: normalized
        schema:
          type: boolean
        description: Normalize representative/senator names
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: query
        name: representative
        schema:
          type: string
        description: Congressperson's name
      - in: query
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
      - in: query
        name: version
        schema:
          type: string
          default: V1
        description: API Version, one of V1 or V2
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllCongressViewResponse'
          description: ''
  /beta/bulk/corporatedonors:
    get:
      operationId: bulk_corporatedonors_retrieve
      description: Returns a paginated bulk of all PAC donations to politicians. Filter by ticker, bioguide ID, election cycle, or FEC transaction type code. Ordered by most recent transaction date.
      summary: Bulk Corporate Donors
      parameters:
      - in: query
        name: bioguide_id
        schema:
          type: string
        description: Congressperson's BioGuide id
      - in: query
        name: cycle
        schema:
          type: string
        description: Filter donors by election cycle (e.g., 2024)
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: query
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
      - in: query
        name: transaction_tp
        schema:
          type: string
        description: Filter by FEC transaction type code (e.g. 24K = contribution to candidate, 24E = independent expenditure). See FEC transaction type codes for full list.
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCorporateDonorsResponse'
          description: ''
  /beta/bulk/trumpstocktrades:
    get:
      operationId: bulk_trumpstocktrades_retrieve
      description: Returns recent stock transactions made by Donald Trump. Default page size is 200.
      summary: Bulk Trump Stock Trades
      parameters:
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrumpStockTradesResponse'
          description: ''
  /beta/coins:
    get:
      operationId: coins_retrieve
      description: Get coins data from reddit.
      summary: Coins
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsResponse'
          description: ''
      x-internal: true
  /beta/companies:
    get:
      operationId: companies_retrieve
      description: Returns list of companies.
      summary: Companies
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesResponse'
          description: ''
      x-internal: true
  /beta/funds:
    get:
      operationId: funds_retrieve
      description: Return Fund information from SEC13F data.
      summary: Funds
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsResponse'
          description: ''
      x-internal: true
  /beta/historical/congresstrading/{ticker}:
    get:
      operationId: historical_congresstrading_retrieve
      description: Returns all the stock transactions by members of U.S. Congress involving the given ticker.
      summary: Historical Congress Trading
      parameters:
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalCongressViewResponse'
          description: ''
  /beta/historical/corporatedonors/{ticker}:
    get:
      operationId: historical_corporatedonors_retrieve
      description: Returns all PAC (Political Action Committee) donations from a company to politicians, filtered by stock ticker. Includes donor committee name, transaction amount, date, cycle, and transaction type. Paginated with a default of 500 results per page.
      summary: Historical Corporate Donors by Ticker
      parameters:
      - in: query
        name: bioguide_id
        schema:
          type: string
        description: Congressperson's BioGuide id
      - in: query
        name: cycle
        schema:
          type: string
        description: Filter donors by election cycle (e.g., 2024)
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalCorporateDonorsResponse'
          description: ''
  /beta/historical/govcontracts/{ticker}:
    get:
      operationId: historical_govcontracts_retrieve
      description: Returns historical quarterly government contracts amounts for the given ticker.
      summary: Historical Gov Contracts
      parameters:
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalGovContractsResponse'
          description: ''
  /beta/historical/govcontractsall/{ticker}:
    get:
      operationId: historical_govcontractsall_retrieve
      description: Returns historical government contracts for the given ticker.
      summary: Historical Gov Contracts All
      parameters:
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalGovContractsAllResponse'
          description: ''
  /beta/historical/housetrading/{ticker}:
    get:
      operationId: historical_housetrading_retrieve
      description: Returns all the stock transactions by U.S. Representatives involving the given ticker.
      summary: Historical House Trading
      parameters:
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalHouseViewResponse'
          description: ''
  /beta/historical/lobbying/{ticker}:
    get:
      operationId: historical_lobbying_retrieve
      description: Returns all lobbying spending instances for the given ticker.
      summary: Historical Lobbying
      parameters:
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: query
        name: query
        schema:
          type: string
        description: Query to match specific issue or summary
      - in: query
        name: queryTicker
        schema:
          type: string
        description: Ticker for searchall view
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalLobbyingResponse'
          description: ''
  /beta/historical/offexchange/{ticker}:
    get:
      operationId: historical_offexchange_retrieve
      description: Returns daily historical off-exchange activity for the given ticker.
      summary: Historical Off-Exchange
      parameters:
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: Date, formatted as YYYYMMDD
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDPViewResponse'
          description: ''
  /beta/historical/senatetrading/{ticker}:
    get:
      operationId: historical_senatetrading_retrieve
      description: Returns all the stock transactions by U.S. Senators involving the given ticker.
      summary: Historical Senate Trading
      parameters:
      - in: path
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
        required: true
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalSenateViewResponse'
          description: ''
  /beta/ignoredtickers:
    get:
      operationId: ignoredtickers_retrieve
      description: Get ignored tickers
      summary: Ignored Tickers
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IgnoredTickersResponse'
          description: ''
      x-internal: true
  /beta/live/bill_summaries:
    get:
      operationId: live_bill_summaries_retrieve
      description: Return recent bill summaries.
      summary: Recent Bill Summaries
      parameters:
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: query
        name: query
        schema:
          type: string
        description: Query to match specific issue or summary
      - in: query
        name: summary_limit
        schema:
          type: integer
        description: Summary length limit for bill summaries
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSummariesResponse'
          description: ''
      x-internal: true
  /beta/live/congress/politicians:
    get:
      operationId: live_congress_politicians_retrieve
      description: Returns currently active congress members with their trading stats (trade count, estimated trade volume) and live net worth. Defaults to active members only. Use chamber, party, and state filters to narrow results.
      summary: Live Congress Politicians
      parameters:
      - in: query
        name: chamber
        schema:
          type: string
        description: 'Filter by congressional chamber: house or senate (case-insensitive)'
      - in: query
        name: is_active
        schema:
          type: boolean
          default: 'True'
        description: Filter by active/inactive status. Defaults to true for the live endpoint (only active members). Set to false to include all members.
      - in: query
        name: party
        schema:
          type: string
        description: 'Filter by party affiliation: Democratic, Republican, or Independent'
      - in: query
        name: state
        schema:
          type: string
        description: Filter by US state (full name, e.g. California, Texas, New York)
      - in: query
        name: volume_method
        schema:
          type: string
          default: average
        description: 'Method to estimate trade volume from disclosed amount ranges (e.g. ''$1,001 - $15,000''). Accepted values: range_start (lower bound), average (midpoint, default), range_end (upper bound).'
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveCongressPoliticiansResponse'
          description: ''
  /beta/live/congress_stock_holdings:
    get:
      operationId: live_congress_stock_holdings_retrieve
      description: Returns estimate of current stock holdings of members of U.S. Congress. Use the bioguide_id, ticker, and sort_by_holding parameters to filter and sort the results.
      summary: Live Congress Stock Holdings
      parameters:
      - in: query
        name: bioguide_id
        schema:
          type: string
        description: Congressperson's BioGuide id
      - in: query
        name: sort_by_holding
        schema:
          type: boolean
          default: 'False'
        description: 'Sort portfolio holdings by current holding amount (descending). Accepted values: true (sort by current holding), false (sort by allocation).'
      - in: query
        name: ticker
        schema:
          type: string
        description: Ticker for any given stock
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveCongressStockHoldingsResponse'
          description: ''
  /beta/live/congressholdings:
    get:
      operationId: live_congressholdings_retrieve
      description: Returns live congress holdings data.
      summary: Live Congress Holdings
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CongressHoldingsResponse'
          description: ''
      x-internal: true
  /beta/live/congresstrading:
    get:
      operationId: live_congresstrading_retrieve
      description: Returns the most recent transactions by members of U.S. Congress.
      summary: Live Congress Trading
      parameters:
      - in: query
        name: normalized
        schema:
          type: boolean
        description: Normalize representative/senator names
      - in: query
        name: representative
        schema:
          type: string
        description: Congressperson's name
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveCongressViewResponse'
          description: ''
  /beta/live/flights:
    get:
      operationId: live_flights_retrieve
      description: Get live flight data
      summary: Live Flights
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveFlightsResponse'
          description: ''
      x-internal: true
  /beta/live/govcontracts:
    get:
      operationId: live_govcontracts_retrieve
      description: Returns last quarter's government contract amounts for all companies.
      summary: Recent Gov Contracts
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentGovContractsResponse'
          description: ''
  /beta/live/govcontractsall:
    get:
      operationId: live_govcontractsall_retrieve
      description: Returns recently announced contracts across all companies.
      summary: Recent Gov Contracts All
      parameters:
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: Date, formatted as YYYYMMDD
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentGovContractsAllResponse'
          description: ''
  /beta/live/housetrading:
    get:
      operationId: live_housetrading_retrieve
      description: Returns the most recent transactions by U.S. Representatives.
      summary: Recent House Trading
      parameters:
      - in: query
        name: name
        schema:
          type: string
        description: Congressperson's name
      - in: query
        name: options
        schema:
          type: boolean
        description: Include options with trading data
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentHouseViewResponse'
          description: ''
  /beta/live/legislation:
    get:
      operationId: live_legislation_retrieve
      description: Return recent legislation data.
      summary: Recent Legislation
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodayLegislationResponse'
          description: ''
      x-internal: true
  /beta/live/lobbying:
    get:
      operationId: live_lobbying_retrieve
      description: Returns the most recent lobbying spending instances across all companies.
      summary: Live Lobbying
      parameters:
      - in: query
        name: all
        schema:
          type: boolean
        description: Select all records
      - in: query
        name: date_from
        schema:
          type: string
          format: date
        description: Date to query from in YYYYMMDD format
      - in: query
        name: date_to
        schema:
          type: string
          format: date
        description: Date to query to in YYYYMMDD format
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodayLobbyingResponse'
          description: ''
  /beta/live/offexchange:
    get:
      operationId: live_offexchange_retrieve
      description: Returns yesterday's off-exchange activity across all companies.
      summary: Live Off-Exchange
      parameters:
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodayDPViewResponse'
          description: ''
  /beta/live/polymarkettrades:
    get:
      operationId: live_polymarkettrades_retrieve
      description: Returns Polymarket trades flagged as large or unusual bets. Sports-market trades are excluded by default.
      summary: Polymarket Top Trades
      parameters:
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: Date, formatted as YYYYMMDD
      - in: query
        name: include_sports_markets
        schema:
          type: boolean
        description: Include trades on sports markets in the results (excluded by default)
      - in: query
        name: page
        schema:
          type: integer
        description: Page number
      - in: query
        name: page_size
        schema:
          type: integer
        description: Items / page
      - in: query
        name: proxy_wallet
        schema:
          type: string
        description: Filter to trades from this trader's wallet address
      - in: query
        name: slug
        schema:
          type: string
        description: Filter to trades on the Polymarket market with this slug
      - in: query
        name: sort_by
        schema:
          type: string
        description: 'Sort results by: trade_time or estimated_amount'
      - in: query
        name: sort_order
        schema:
          type: string
        description: 'Sort direction: asc or desc'
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketTopTradesResponse'
          description: ''
  /beta/live/rss:
    get:
      operationId: live_rss_retrieve
      description: Get live RSS data
      summary: Live RSS
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveRSSResponse'
          description: ''
      x-internal: true
  /beta/live/senatetrading:
    get:
      operationId: live_senatetrading_retrieve
      description: Returns the most recent transactions by U.S. Senators.
      summary: Recent Senate Trading
      parameters:
      - in: query
        name: name
        schema:
          type: string
        description: Congressperson's name
      - in: query
        name: options
        schema:
          type: boolean
        description: Include options with trading data
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentSenateViewResponse'
          description: ''
  /beta/personalities:
    get:
      operationId: personalities_retrieve
      description: Returns list of CNBC personalities.
      summary: CNBC Personalities
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalitiesResponse'
          description: ''
      x-internal: true
  /beta/strategies/holdings:
    get:
      operationId: strategies_holdings_retrieve
      description: Get strategies holdings data
      summary: Strategies Holdings
      parameters:
      - in: query
        name: strategy
        schema:
          type: string
          default: all
        description: Strategy type
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyHoldingsResponse'
          description: ''
      x-internal: true
  /beta/strategies/holdings_infrequent:
    get:
      operationId: strategies_holdings_infrequent_retrieve
      description: Get strategies holdings data for infrequently rebalancing strategies
      summary: Strategies Holdings for Infrequently Rebalancing Strategies
      parameters:
      - in: query
        name: strategy
        schema:
          type: string
          default: all
        description: Strategy type
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyHoldingsInfrequentResponse'
          description: ''
      x-internal: true
  /beta/tickerdata:
    get:
      operationId: tickerdata_retrieve
      description: Get ticker data
      summary: Ticker Data
      tags:
      - Tier 1
      security:
      - WebPlatformTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerDataResponse'
          description: ''
      x-internal: true
components:
  schemas:
    BillSummary:
      title: BillSummary
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        title:
          title: Title
          type: string
        congress:
          title: Congress
          type: integer
        number:
          title: Number
          type: string
        originChamber:
          title: Originchamber
          type: string
        currentChamber:
          title: Currentchamber
          type: string
        billType:
          title: Billtype
          type: string
        summary:
          title: Summary
          type: string
        url:
          title: Url
          type: string
        lastAction:
          title: Lastaction
          type: string
        lastActionDate:
          title: Lastactiondate
          type: string
        ctid:
          title: Ctid
          type: string
      required:
      - title
      - congress
      - number
      - originChamber
      - billType
      - summary
      - url
      - lastAction
      - lastActionDate
    CongressionalTrade:
      title: CongressionalTrade
      description: V1 congressional trade data structure.
      type: object
      properties:
        Representative:
          title: Representative
          description: Name of Congressperson who made the transaction
          type: string
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson who made the transaction
          type: string
        ReportDate:
          title: Reportdate
          description: Date the transaction was reported
          type: string
          format: date-time
        TransactionDate:
          title: Transactiondate
          description: Date the transaction took place
          type: string
          format: date-time
        Ticker:
          title: Ticker
          description: Ticker of shares transacted
          type: string
        Transaction:
          title: Transaction
          description: Purchase or Sale
          type: string
        Range:
          title: Range
          type: string
        District:
          title: District
          description: District of the congressperson
          type: string
        House:
          title: House
          description: Representatives or Senate
          type: string
        Amount:
          title: Amount
          description: Lower bound of transaction size ($). Congressional trades are reported as a range of values, this variable is the lower bound of that range
          default: 0
          type: string
        Party:
          title: Party
          description: Political party of the congressperson who made the trade
          type: string
        last_modified:
          title: Last Modified
          description: Date that Quiver last updated the details of this transaction
          type: string
          format: date-time
        TickerType:
          title: Tickertype
          description: 'Reported type of asset traded. Note: CS and ST are commonly used as abbreviated for common stock'
          type: string
        Description:
          title: Description
          description: Transaction description
          type: string
        ExcessReturn:
          title: Excessreturn
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          type: number
        PriceChange:
          title: Pricechange
          description: Percentage change in stock price since the transaction date
          type: number
        SPYChange:
          title: Spychange
          description: Percentage change in S&P 500 since the transaction date
          type: number
      required:
      - Representative
      - Party
    Personality:
      title: Personality
      description: CNBC stats model.
      type: object
      properties:
        Name:
          title: Name
          type: string
      required:
      - Name
    Legislation:
      title: Legislation
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        bill:
          title: Bill
          type: string
        updateDate:
          title: Updatedate
          type: string
        updateTime:
          title: Updatetime
          type: string
          format: date-time
        actionDate:
          title: Actiondate
          type: string
        update:
          title: Update
          type: string
        chamber:
          title: Chamber
          type: string
        url:
          title: Url
          type: string
        congress:
          title: Congress
          type: string
        lobbyists:
          title: Lobbyists
          type: string
        lobbyingAmounts:
          title: Lobbyingamounts
          type: string
        lobbyingCounts:
          title: Lobbyingcounts
          type: string
        politicians:
          title: Politicians
          type: string
        politicianTrades:
          title: Politiciantrades
          type: string
        politicianTradeDates:
          title: Politiciantradedates
          type: string
        politicianRoles:
          title: Politicianroles
          type: string
        politicianAmounts:
          title: Politicianamounts
          type: string
        politicianStocks:
          title: Politicianstocks
          type: string
        pageLink:
          title: Pagelink
          type: string
        billID:
          title: Billid
          type: string
        uploaded:
          title: Uploaded
          type: string
          format: date-time
        politicianCounts:
          title: Politiciancounts
          type: integer
        ctid:
          title: Ctid
          type: string
      required:
      - bill
      - updateDate
      - updateTime
      - actionDate
      - update
      - chamber
      - url
      - congress
      - lobbyists
      - lobbyingAmounts
      - lobbyingCounts
      - politicians
      - politicianTrades
      - politicianTradeDates
      - politicianRoles
      - politicianAmounts
      - politicianStocks
      - pageLink
      - billID
      - uploaded
      - politicianCounts
    TrumpStockTradesResponse:
      title: TrumpStockTradesResponse
      description: JSON Response structure for Trump stock trades endpoint.
      type: array
      items:
        $ref: '#/components/schemas/TrumpStockTrade'
    AuthData:
      title: AuthData
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        status:
          title: Status
          type: string
        current_period_end:
          title: Current Period End
          type: string
      required:
      - status
      - current_period_end
    CorporateDonorEntry:
      title: CorporateDonorEntry
      description: PAC corporate donor transaction.
      type: object
      properties:
        BioGuideID:
          title: Bioguideid
          type: string
        CandidateName:
          title: Candidatename
          type: string
        CompanyCMTENM:
          title: Companycmtenm
          type: string
        TransactionDate:
          title: Transactiondate
          type: string
          format: date-time
        TransactionAmount:
          title: Transactionamount
          type: integer
        Ticker:
          title: Ticker
          type: string
        CommitteeName:
          title: Committeename
          type: string
        Cycle:
          title: Cycle
          type: integer
        TransactionType:
          title: Transactiontype
          type: string
        CompanyCMTEID:
          title: Companycmteid
          type: string
        Uploaded:
          title: Uploaded
          type: string
    RSSData:
      title: RSSData
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Dataset:
          title: Dataset
          type: string
        Ticker:
          title: Ticker
          type: string
        Text:
          title: Text
          type: string
        URL:
          title: Url
          type: string
        Time:
          title: Time
          type: string
          format: date-time
      required:
      - Dataset
      - Ticker
      - Text
      - URL
      - Time
    Company:
      title: Company
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Name:
          title: Name
          type: string
        Ticker:
          title: Ticker
          type: string
      required:
      - Name
      - Ticker
    CoinsResponse:
      title: CoinsResponse
      description: JSON Response structure for coins endpoint.
      type: array
      items:
        $ref: '#/components/schemas/Coin'
    LobbyingRecord:
      title: LobbyingRecord
      description: Lobbying information.
      type: object
      properties:
        Date:
          title: Date
          description: Date that the lobbying spend was reported
          type: string
          format: date-time
        Amount:
          title: Amount
          description: Size of spending instance (USD)
          type: string
        Client:
          title: Client
          description: Full name of the lobbying client
          type: string
        Issue:
          title: Issue
          description: Category of legislation that is being lobbied for
          type: string
        Specific_Issue:
          title: Specific Issue
          description: Specific piece of legislation being lobbied for
          type: string
        Registrant:
          title: Registrant
          description: Full name of the disclosure registrant
          type: string
        Ticker:
          title: Ticker
          description: Company ticker
          type: string
      required:
      - Date
      - Registrant
      - Ticker
    BulkCongressPoliticiansResponse:
      title: BulkCongressPoliticiansResponse
      description: JSON Response structure for bulk congress politicians endpoint.
      type: array
      items:
        $ref: '#/components/schemas/PoliticianDetailEntry'
    LiveCongressViewResponse:
      title: LiveCongressViewResponse
      description: JSON Response structure for live congress view endpoint.
      type: array
      items:
        $ref: '#/components/schemas/CongressionalTrade'
    IgnoredTicker:
      title: IgnoredTicker
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Ticker:
          title: Ticker
          type: string
      required:
      - Ticker
    CongressHoldingsResponse:
      title: CongressHoldingsResponse
      description: Json response structure for enterprise congress holdings endpoint.
      type: array
      items:
        $ref: '#/components/schemas/HoldingsEntry'
    SenateTradeWithOptions:
      title: SenateTradeWithOptions
      description: Represents a senate trade with additional options.
      type: object
      properties:
        Senator:
          title: Senator
          description: Name of Congressperson who made the transaction
          type: string
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson who made the transaction
          type: string
        ReportDate:
          title: Reportdate
          description: Date the transaction was reported
          type: string
          format: date-time
        Date:
          title: Date
          description: Date the transaction took place
          type: string
          format: date-time
        Ticker:
          title: Ticker
          description: Ticker of shares transacted
          type: string
        Transaction:
          title: Transaction
          description: Purchase or Sale
          type: string
        Range:
          title: Range
          type: string
        District:
          title: District
          description: District of the congressperson
          type: string
        House:
          title: House
          description: Representatives or Senate
          type: string
        Amount:
          title: Amount
          description: Lower bound of transaction size ($). Congressional trades are reported as a range of values, this variable is the lower bound of that range
          default: 0
          type: string
        Party:
          title: Party
          description: Political party of the congressperson who made the trade
          type: string
        last_modified:
          title: Last Modified
          description: Date that Quiver last updated the details of this transaction
          type: string
          format: date-time
        Type:
          title: Type
          description: Stock or Stock Option
          default: Stock
          type: string
        Description:
          title: Description
          description: Transaction description
          type: string
        ExcessReturn:
          title: Excessreturn
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          type: number
        PriceChange:
          title: Pricechange
          description: Percentage change in stock price since the transaction date
          type: number
        SPYChange:
          title: Spychange
          description: Percentage change in S&P 500 since the transaction date
          type: number
      required:
      - Senator
      - Party
    Fund:
      title: Fund
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Fund:
          title: Fund
          type: string
      required:
      - Fund
    CongressStockHolding:
      title: CongressStockHolding
      description: Represents a stock holding as represented by the live congress stock holdings endpoint.
      type: object
      properties:
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson holding the stock
          type: string
        Name:
          title: Name
          description: Name of the congressperson who made the transaction
          type: string
        Ticker:
          title: Ticker
          description: Ticker symbol of the stock held by the congressperson
          type: string
        CurrentHolding:
          title: Currentholding
          description: Estimated current holding of the stock by the congressperson (USD)
          type: number
        Allocation:
          title: Allocation
          description: Estimtated allocation of the stock in the congressperson's portfolio (percentage)
          type: number
      required:
      - BioGuideID
    HistoricalCorporateDonorsResponse:
      title: HistoricalCorporateDonorsResponse
      description: JSON Response structure for historical corporate donors endpoint.
      type: array
      items:
        $ref: '#/components/schemas/CorporateDonorEntry'
    AllCongressViewResponse:
      title: AllCongressViewResponse
      description: JSON Response structure for all congress view endpoint.
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/CongressionalTradeV2'
        - $ref: '#/components/schemas/CongressionalTrade'
    Coin:
      title: Coin
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Coin:
          title: Coin
          type: string
      required:
      - Coin
    Flight:
      title: Flight
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Ticker:
          title: Ticker
          type: string
        Date:
          title: Date
          type: string
          format: date-time
        DepartureCity:
          title: Departurecity
          type: string
        ArrivalCity:
          title: Arrivalcity
          type: string
      required:
      - Ticker
      - Date
    TodayLegislationResponse:
      title: TodayLegislationResponse
      description: JSON Response structure for recent legislation endpoint.
      type: array
      items:
        $ref: '#/components/schemas/Legislation'
    PolymarketTrade:
      title: PolymarketTrade
      description: A trade on Polymarket flagged as a large or unusual bet.
      type: object
      properties:
        proxy_wallet:
          title: Proxy Wallet
          description: Wallet address that placed the trade
          type: string
        side:
          title: Side
          description: BUY or SELL
          type: string
        asset:
          title: Asset
          description: Polymarket asset (outcome token) id
          type: string
        condition_id:
          title: Condition Id
          description: Polymarket market condition id
          type: string
        size:
          title: Size
          description: Number of shares traded
          type: number
        price:
          title: Price
          description: Price per share at execution
          type: number
        title:
          title: Title
          description: Market title
          type: string
        slug:
          title: Slug
          description: Market slug
          type: string
        event_slug:
          title: Event Slug
          description: Event slug the market belongs to
          type: string
        outcome:
          title: Outcome
          description: Outcome name traded
          type: string
        outcome_index:
          title: Outcome Index
          description: Index of the outcome traded
          type: integer
        name:
          title: Name
          description: Trader's display name
          type: string
        transaction_hash:
          title: Transaction Hash
          description: On-chain transaction hash
          type: string
        estimated_amount:
          title: Estimated Amount
          description: Estimated USD value of the trade
          type: number
        trade_time:
          title: Trade Time
          description: Trade execution time
          type: string
          format: date-time
        uploaded:
          title: Uploaded
          description: Time the trade was uploaded by Quiver
          type: string
          format: date-time
        user_first_activity:
          title: User First Activity
          description: Time of the trader's first recorded activity
          type: string
          format: date-time
        user_position_rank:
          title: User Position Rank
          description: Trader's rank by current position value
          type: integer
        user_position_current_val:
          title: User Position Current Val
          description: Trader's current position value (USD)
          type: number
        user_positions_value:
          title: User Positions Value
          description: Total value (USD) of all of the trader's positions
          type: number
        user_markets_traded:
          title: User Markets Traded
          description: Number of distinct markets the trader has traded
          type: integer
        sports_market_type:
          title: Sports Market Type
          description: Sports bet type (e.g. moneyline, spreads, totals); null for non-sports markets
          type: string
        slug_volume:
          title: Slug Volume
          description: Total traded volume (USD) for the market
          type: number
      required:
      - proxy_wallet
      - side
      - asset
      - condition_id
      - size
      - price
      - title
      - slug
      - event_slug
      - outcome
      - outcome_index
      - transaction_hash
      - estimated_amount
      - trade_time
      - uploaded
    HouseTradeWithOptions:
      title: HouseTradeWithOptions
      description: Represents a house trade with additional options.
      type: object
      properties:
        Representative:
          title: Representative
          description: Name of Congressperson who made the transaction
          type: string
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson who made the transaction
          type: string
        ReportDate:
          title: Reportdate
          description: Date the transaction was reported
          type: string
          format: date-time
        Date:
          title: Date
          description: Date the transaction took place
          type: string
          format: date-time
        Ticker:
          title: Ticker
          description: Ticker of shares transacted
          type: string
        Transaction:
          title: Transaction
          description: Purchase or Sale
          type: string
        Range:
          title: Range
          type: string
        District:
          title: District
          description: District of the congressperson
          type: string
        House:
          title: House
          description: Representatives or Senate
          type: string
        Amount:
          title: Amount
          description: Lower bound of transaction size ($). Congressional trades are reported as a range of values, this variable is the lower bound of that range
          default: 0
          type: string
        party:
          title: Party
          type: string
        last_modified:
          title: Last Modified
          description: Date that Quiver last updated the details of this transaction
          type: string
          format: date-time
        Type:
          title: Type
          description: Stock or Stock Option
          default: Stock
          type: string
        Description:
          title: Description
          description: Transaction description
          type: string
        ExcessReturn:
          title: Excessreturn
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          type: number
        PriceChange:
          title: Pricechange
          description: Percentage change in stock price since the transaction date
          type: number
        SPYChange:
          title: Spychange
          description: Percentage change in S&P 500 since the transaction date
          type: number
      required:
      - Representative
    HistoricalCongressViewResponse:
      title: HistoricalCongressViewResponse
      description: JSON Response structure for historical congress view endpoint.
      type: array
      items:
        $ref: '#/components/schemas/CongressionalTrade'
    CongressionalTradeV2:
      title: CongressionalTradeV2
      description: V2 congressional trade data structure.
      type: object
      properties:
        Ticker:
          title: Ticker
          description: Ticker of shares transacted
          type: string
        TickerType:
          title: Tickertype
          description: 'Reported type of asset traded. Note: CS and ST are commonly used as abbreviated for common stock'
          type: string
        Company:
          title: Company
          description: RecentSenate
          type: string
        Traded:
          title: Traded
          description: Transaction date
          type: string
          format: date-time
        Transaction:
          title: Transaction
          description: Purchase or Sale
          type: string
        Trade_Size_USD:
          title: Trade Size Usd
          description: Lower bound of transaction size ($). Congressional trades are reported as a range of values, this variable is the lower bound of that range
          type: string
        Status:
          title: Status
          description: Status of lawmaker’s position
          type: string
        Subholding:
          title: Subholding
          description: Reported subholding, if relevant
          type: string
        Description:
          title: Description
          description: Transaction description
          type: string
        Name:
          title: Name
          description: Name of congressperson who made the transaction
          type: string
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson who made the transaction
          type: string
        Filed:
          title: Filed
          description: Disclosure date
          type: string
          format: date-time
        Party:
          title: Party
          description: Party of the congressperson who made the transaction
          type: string
        District:
          title: District
          description: District of the congressperson who made the transaction
          type: string
        Chamber:
          title: Chamber
          description: Senate or House
          type: string
        Comments:
          title: Comments
          description: Any comments left by lawmaker
          type: string
        Quiver_Upload_Time:
          title: Quiver Upload Time
          description: Time that transaction was scraped and processed by Quiver
          type: string
          format: date-time
        excess_return:
          title: Excess Return
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          type: string
        State:
          title: State
          type: string
        last_modified:
          title: Last Modified
          description: Date that Quiver last updated the details of this transaction
          type: string
          format: date-time
      required:
      - Traded
      - Name
      - BioGuideID
      - Filed
      - Party
      - Chamber
    BillSummariesResponse:
      title: BillSummariesResponse
      description: JSON Response structure for bill summaries endpoint.
      type: array
      items:
        $ref: '#/components/schemas/BillSummary'
    IgnoredTickersResponse:
      title: IgnoredTickersResponse
      description: JSON Response structure for ignored tickers endpoint.
      type: array
      items:
        $ref: '#/components/schemas/IgnoredTicker'
    LiveFlightsResponse:
      title: LiveFlightsResponse
      description: JSON Response structure for live flights endpoint.
      type: array
      items:
        $ref: '#/components/schemas/Flight'
    PremiumAuthResponse:
      title: PremiumAuthResponse
      description: JSON Response structure for premium auth endpoint.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AuthData'
      required:
      - data
    LiveRSSResponse:
      title: LiveRSSResponse
      description: JSON Response structure for live rss endpoint.
      type: array
      items:
        $ref: '#/components/schemas/RSSData'
    HoldingsEntry:
      title: HoldingsEntry
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Politician:
          title: Politician
          type: string
        Holdings:
          title: Holdings
          type: string
        Type:
          title: Type
          type: string
      required:
      - Politician
      - Holdings
      - Type
    RecentHouseViewResponse:
      title: RecentHouseViewResponse
      description: Json response structure for recent house view endpoint.
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/HouseTradeWithOptions'
        - type: string
    StrategyHoldings:
      title: StrategyHoldings
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Strategy:
          title: Strategy
          type: string
        Date:
          title: Date
          type: string
          format: date-time
        Holdings:
          title: Holdings
          type: string
      required:
      - Strategy
      - Date
      - Holdings
    TodayLobbyingResponse:
      title: TodayLobbyingResponse
      description: JSON Response structure for today lobbying endpoint.
      type: array
      items:
        $ref: '#/components/schemas/LobbyingRecord'
    TrumpStockTrade:
      title: TrumpStockTrade
      description: Stock trade entry as represented by the Trump stock trades endpoint.
      type: object
      properties:
        Ticker:
          title: Ticker
          description: Ticker symbol of the stock involved in the transaction
          sa_column_kwargs:
            name: Ticker
          type: string
        Company:
          title: Company
          description: Name of the company for the stock involved in the transaction
          sa_column_kwargs:
            name: Company
          type: string
        Transaction:
          title: Transaction
          description: Type of transaction (e.g., Purchase, Sale)
          sa_column_kwargs:
            name: Transaction
          type: string
        Amount:
          title: Amount
          description: Value of the stock transaction (USD)
          sa_column_kwargs:
            name: Amount
          type: string
        Filed:
          title: Filed
          description: Date when the stock transaction was filed
          sa_column_kwargs:
            name: Filed
          type: string
          format: date-time
        Traded:
          title: Traded
          description: Date when the stock was actually traded
          sa_column_kwargs:
            name: Traded
          type: string
        ExcessReturn:
          title: Excessreturn
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          sa_column_kwargs:
            name: excess_return
          type: number
    HistoricalHouseViewResponse:
      title: HistoricalHouseViewResponse
      description: Json response structure for historical house view endpoint.
      type: array
      items:
        $ref: '#/components/schemas/HouseTrade'
    SenateTrade:
      title: SenateTrade
      description: Represents a senate trade as represented by trading endpoints.
      type: object
      properties:
        Senator:
          title: Senator
          description: Name of Congressperson who made the transaction
          type: string
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson who made the transaction
          type: string
        ReportDate:
          title: Reportdate
          description: Date the transaction was reported
          type: string
          format: date-time
        Date:
          title: Date
          description: Date the transaction took place
          type: string
          format: date-time
        Ticker:
          title: Ticker
          description: Ticker of shares transacted
          type: string
        Transaction:
          title: Transaction
          description: Purchase or Sale
          type: string
        Range:
          title: Range
          type: string
        District:
          title: District
          description: District of the congressperson
          type: string
        House:
          title: House
          description: Representatives or Senate
          type: string
        Amount:
          title: Amount
          description: Lower bound of transaction size ($). Congressional trades are reported as a range of values, this variable is the lower bound of that range
          default: 0
          type: string
        Party:
          title: Party
          description: Political party of the congressperson who made the trade
          type: string
        last_modified:
          title: Last Modified
          description: Date that Quiver last updated the details of this transaction
          type: string
          format: date-time
        TickerType:
          title: Tickertype
          description: 'Reported type of asset traded. Note: CS and ST are commonly used as abbreviated for common stock'
          type: string
        Description:
          title: Description
          description: Transaction description
          type: string
        ExcessReturn:
          title: Excessreturn
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          type: number
        PriceChange:
          title: Pricechange
          description: Percentage change in stock price since the transaction date
          type: number
        SPYChange:
          title: Spychange
          description: Percentage change in S&P 500 since the transaction date
          type: number
      required:
      - Senator
      - Party
    DPShortRecord:
      title: DPShortRecord
      description: New DPShort data model.
      type: object
      properties:
        Ticker:
          title: Ticker
          description: Company ticker
          type: string
        Date:
          title: Date
          description: Date
          type: string
          format: date-time
        OTC_Short:
          title: Otc Short
          description: Number of shares short on the given day
          type: integer
        OTC_Total:
          title: Otc Total
          description: Total number of shares on the given day
          type: integer
        DPI:
          title: Dpi
          description: '% of shares short'
          type: number
      required:
      - Ticker
      - Date
      - OTC_Short
      - OTC_Total
      - DPI
    BulkCorporateDonorsResponse:
      title: BulkCorporateDonorsResponse
      description: JSON Response structure for bulk corporate donors endpoint.
      type: array
      items:
        $ref: '#/components/schemas/CorporateDonorEntry'
    RecentSenateViewResponse:
      title: RecentSenateViewResponse
      description: Json response structure for recent senate view endpoint.
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/SenateTrade'
        - $ref: '#/components/schemas/SenateTradeWithOptions'
        - type: string
    LiveCongressStockHoldingsResponse:
      title: LiveCongressStockHoldingsResponse
      description: JSON Response structure for live congress stock holdings endpoint.
      type: array
      items:
        $ref: '#/components/schemas/CongressStockHolding'
    HistoricalDPViewResponse:
      title: HistoricalDPViewResponse
      description: JSON Response structure for historical lobbying endpoint.
      type: array
      items:
        $ref: '#/components/schemas/DPShortRecord'
    PolymarketTopTradesResponse:
      title: PolymarketTopTradesResponse
      description: JSON Response structure for the Polymarket large/unusual trades endpoint.
      type: array
      items:
        $ref: '#/components/schemas/PolymarketTrade'
    HistoricalSenateViewResponse:
      title: HistoricalSenateViewResponse
      description: Json response structure for historical senate view endpoint.
      type: array
      items:
        $ref: '#/components/schemas/SenateTrade'
    LiveCongressPoliticiansResponse:
      title: LiveCongressPoliticiansResponse
      description: JSON Response structure for live congress politicians endpoint.
      type: array
      items:
        $ref: '#/components/schemas/PoliticianDetailEntry'
    FundsResponse:
      title: FundsResponse
      description: JSON Response structure for funds endpoint.
      type: array
      items:
        $ref: '#/components/schemas/Fund'
    HistoricalGovContractsAllResponse:
      title: HistoricalGovContractsAllResponse
      description: JSON Response structure for historical gov contracts all endpoint.
      type: array
      items:
        $ref: '#/components/schemas/GovContractAll'
    StrategyHoldingsInfrequentResponse:
      title: StrategyHoldingsInfrequentResponse
      description: JSON Response structure for strategy holdings endpoint.
      type: array
      items:
        $ref: '#/components/schemas/StrategyHoldingsInfrequent'
    PoliticianDetailEntry:
      title: PoliticianDetailEntry
      description: Unified politician entry for both congress members and candidates.
      type: object
      properties:
        BioGuideID:
          title: Bioguideid
          type: string
        CandidateID:
          title: Candidateid
          type: string
        Name:
          title: Name
          type: string
        Party:
          title: Party
          type: string
        Chamber:
          title: Chamber
          type: string
        State:
          title: State
          type: string
        ImageURL:
          title: Imageurl
          type: string
        TradeCount:
          title: Tradecount
          type: integer
        TradeVolume:
          title: Tradevolume
          type: number
        NetWorth:
          title: Networth
          type: number
    GovContract:
      title: GovContract
      description: Gov contract information (basic).
      type: object
      properties:
        Ticker:
          title: Ticker
          description: Company ticker
          type: string
        Amount:
          title: Amount
          description: Total dollars obligated under the given contract
          type: string
        Qtr:
          title: Qtr
          description: Calendar quarter
          type: integer
        Year:
          title: Year
          description: Year of the contract announcement
          type: integer
      required:
      - Ticker
      - Amount
      - Qtr
      - Year
    StrategyHoldingsResponse:
      title: StrategyHoldingsResponse
      description: JSON Response structure for strategy holdings endpoint.
      type: array
      items:
        $ref: '#/components/schemas/StrategyHoldings'
    TickerDataResponse:
      title: TickerDataResponse
      description: JSON Response structure for ticker data endpoint.
      type: array
      items:
        $ref: '#/components/schemas/TickerData'
    TodayDPViewResponse:
      title: TodayDPViewResponse
      description: JSON Response structure for today lobbying endpoint.
      type: array
      items:
        $ref: '#/components/schemas/DPShortRecord'
    RecentGovContractsResponse:
      title: RecentGovContractsResponse
      description: JSON Response structure for recent gov contracts endpoint.
      type: array
      items:
        $ref: '#/components/schemas/GovContract'
    CompaniesResponse:
      title: CompaniesResponse
      description: JSON Response structure for internal companies endpoint.
      type: array
      items:
        $ref: '#/components/schemas/Company'
    GovContractAll:
      title: GovContractAll
      description: Gov contract information (all).
      type: object
      properties:
        Ticker:
          title: Ticker
          description: Company ticker
          type: string
        Date:
          title: Date
          description: Announcement date
          type: string
          format: date-time
        Description:
          title: Description
          description: Contract description
          type: string
        Agency:
          title: Agency
          description: Awarding Agency Name
          type: string
        Amount:
          title: Amount
          description: Total dollars obligated under the given contract
          type: number
        action_date:
          title: Action Date
          description: Contract action date
          type: string
          format: date-time
      required:
      - Ticker
      - Date
      - action_date
    PersonalitiesResponse:
      title: PersonalitiesResponse
      description: JSON Response structure for cnbc personalities endpoint.
      type: array
      items:
        $ref: '#/components/schemas/Personality'
    TickerData:
      title: TickerData
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Ticker:
          title: Ticker
          type: string
        wsbMentionsWeekly:
          title: Wsbmentionsweekly
          type: number
        wiki_change:
          title: Wiki Change
          type: number
        twitter_change:
          title: Twitter Change
          type: number
        congressBought:
          title: Congressbought
          type: boolean
        congressSold:
          title: Congresssold
          type: boolean
      required:
      - Ticker
    HouseTrade:
      title: HouseTrade
      description: Represents a house trade as represented by trading endpoints.
      type: object
      properties:
        Representative:
          title: Representative
          description: Name of Congressperson who made the transaction
          type: string
        BioGuideID:
          title: Bioguideid
          description: BioGuide ID of the congressperson who made the transaction
          type: string
        ReportDate:
          title: Reportdate
          description: Date the transaction was reported
          type: string
          format: date-time
        Date:
          title: Date
          description: Date the transaction took place
          type: string
          format: date-time
        Ticker:
          title: Ticker
          description: Ticker of shares transacted
          type: string
        Transaction:
          title: Transaction
          description: Purchase or Sale
          type: string
        Range:
          title: Range
          type: string
        District:
          title: District
          description: District of the congressperson
          type: string
        House:
          title: House
          description: Representatives or Senate
          type: string
        Amount:
          title: Amount
          description: Lower bound of transaction size ($). Congressional trades are reported as a range of values, this variable is the lower bound of that range
          default: 0
          type: string
        Party:
          title: Party
          description: Political party of the congressperson who made the trade
          type: string
        last_modified:
          title: Last Modified
          description: Date that Quiver last updated the details of this transaction
          type: string
          format: date-time
        TickerType:
          title: Tickertype
          description: 'Reported type of asset traded. Note: CS and ST are commonly used as abbreviated for common stock'
          type: string
        Description:
          title: Description
          description: Transaction description
          type: string
        ExcessReturn:
          title: Excessreturn
          description: Estimated return of stock compared to return of S&P 500 since the transaction date
          type: number
        PriceChange:
          title: Pricechange
          description: Percentage change in stock price since the transaction date
          type: number
        SPYChange:
          title: Spychange
          description: Percentage change in S&P 500 since the transaction date
          type: number
      required:
      - Representative
      - Party
    StrategyHoldingsInfrequent:
      title: StrategyHoldingsInfrequent
      description: Base pydantic model used to hold standard config.
      type: object
      properties:
        Strategy:
          title: Strategy
          type: string
        Date:
          title: Date
          type: string
          format: date-time
        Holdings:
          title: Holdings
          type: string
        Upload_Date:
          title: Upload Date
          type: string
        Rebalance_Date:
          title: Rebalance Date
          type: string
      required:
      - Strategy
      - Date
      - Holdings
      - Upload_Date
      - Rebalance_Date
    HistoricalGovContractsResponse:
      title: HistoricalGovContractsResponse
      description: JSON Response structure for historical gov contracts endpoint.
      type: array
      items:
        $ref: '#/components/schemas/GovContract'
    HistoricalLobbyingResponse:
      title: HistoricalLobbyingResponse
      description: JSON Response structure for historical lobbying endpoint.
      type: array
      items:
        $ref: '#/components/schemas/LobbyingRecord'
    RecentGovContractsAllResponse:
      title: RecentGovContractsAllResponse
      description: JSON Response structure for recent gov contracts all endpoint.
      type: array
      items:
        $ref: '#/components/schemas/GovContractAll'
  securitySchemes:
    WebPlatformTokenAuth:
      type: http
      scheme: bearer
